p{text-align: justify; margin-bottom: 15px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 40px;
    background-color: rgbgray(248, 243, 243);
    color: #333;
}
h2 {
    text-align: left;
    font-size: 28px;
    color: #194067;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    display: inline-block;
    padding-bottom: 5px;
}